html,
body {
  margin: 0;
  min-height: 100%; }

body {
  overflow-x: hidden !important;
  width: 100% !important; }

/* Mixin */
.btn--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #686f7a; }
  .btn--white:hover {
    color: #29303b;
    background-color: #fff; }
.btn--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid none;
  margin-left: 5px; }
  .btn--red:hover {
    color: #fff;
    background-color: #863030; }

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  @media (max-width: 768px) {
    .header {
      display: none;
      overflow-x: hidden; } }
  .header .header__left {
    display: flex;
    align-items: center; }
    .header .header__left .logo {
      margin-left: 200px;
      flex-grow: 1; }
      .header .header__left .logo img {
        width: 110px; }
    .header .header__left .categories {
      color: #686f7a;
      font-size: 13px;
      flex-grow: 1; }
    .header .header__left .search {
      flex-grow: 5; }
      .header .header__left .search .form-control {
        background-color: #f2f3f5;
        font-size: 14px;
        border-radius: none;
        color: #29303b;
        border: none;
        height: 45px;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none; }
        .header .header__left .search .form-control:focus {
          background-color: #fff;
          border: 1px solid #cacbcc;
          box-shadow: none;
          border-right: none; }
          .header .header__left .search .form-control:focus + .input-group-prepend .input-group-text {
            background-color: #fff;
            border: 1px solid #cacbcc;
            box-shadow: none;
            border-left: none; }
        @media (max-width: 768px) {
          .header .header__left .search .form-control {
            display: none;
            overflow-x: hidden; } }
    .header .header__left .input-group-prepend .input-group-text {
      background-color: #f2f3f5;
      border: none;
      outline: none; }
      .header .header__left .input-group-prepend .input-group-text i {
        color: #ec5252; }
      .header .header__left .input-group-prepend .input-group-text:hover {
        background-color: #ec5252; }
        .header .header__left .input-group-prepend .input-group-text:hover i {
          color: white; }

.header__right {
  flex-grow: 2; }
  .header__right .nav-item {
    position: relative; }
    .header__right .nav-item .nav-link {
      border: 1px solid transparent;
      text-align: center;
      align-items: center;
      font-size: 14px;
      padding: 11px 0;
      font-weight: 300;
      width: 160px;
      height: auto;
      color: #505763;
      background-color: transparent; }
    .header__right .nav-item:hover {
      border-color: #f2f3f5;
      background-color: #F7F8FA; }
      .header__right .nav-item:hover .nav-item__detail {
        opacity: 1;
        visibility: visible; }
    .header__right .nav-item__detail {
      position: absolute;
      top: 117%;
      right: 0;
      width: 320px;
      padding: 20px 30px;
      text-align: center;
      border: 1px solid black;
      opacity: 0;
      visibility: hidden; }
      .header__right .nav-item__detail .nav-item__link {
        padding: 10px 0; }
        .header__right .nav-item__detail .nav-item__link a {
          text-decoration: none;
          color: #007791; }
      .header__right .nav-item__detail::after {
        content: "";
        position: absolute;
        top: -9px;
        right: 20px;
        width: 17px;
        height: 17px;
        transform: rotate(45deg);
        background-color: white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        border-left: 1px solid black;
        border-top: 1px solid black; }

.line {
  flex-grow: 1;
  height: 35px;
  width: 2px;
  border-left: 1px solid #dedfe0;
  margin-right: 35px; }

.form-inline .btn {
  border-radius: 0%; }

.header__xs {
  display: none; }
  @media (max-width: 768px) {
    .header__xs {
      display: block;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-x: hidden; }
      .header__xs #main {
        padding-top: 10px; }
        .header__xs #main img {
          position: relative;
          left: 22%;
          width: 110px !important; } }
      @media (max-width: 768px) and (min-width: 768px) {
        .header__xs #main img {
          left: 37%; } }
  @media (max-width: 768px) {
        .header__xs #main .fa-shopping-cart {
          position: relative;
          left: 47%; } }
      @media (max-width: 768px) and (max-width: 321px) {
        .header__xs #main .fa-shopping-cart {
          left: 43%;
          overflow-x: hidden; } }
      @media (max-width: 768px) and (min-width: 768px) {
        .header__xs #main .fa-shopping-cart {
          left: 76%; } }
  @media (max-width: 768px) {
        .header__xs #main .fa-search {
          margin-left: 10px; }
      .header__xs .sidenav {
        position: sticky;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s; }
        .header__xs .sidenav a {
          color: #007791 !important;
          padding: 10px 8px 8px 16px;
          text-decoration: none;
          font-size: 16px;
          color: #818181;
          display: block;
          transition: 0.3s; }
          .header__xs .sidenav a :hover {
            color: #f1f1f1; }
        .header__xs .sidenav .closebtn {
          position: absolute;
          top: 0;
          left: 83%;
          font-size: 36px;
          padding-left: 9px;
          padding-bottom: 8px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: #686f7a;
          background-color: white;
          border-radius: 50%; }
        .header__xs .sidenav .header__line {
          height: 1px;
          margin-bottom: 10px;
          width: 95%;
          margin: 0 auto;
          background: #cacbcc; }
        .header__xs .sidenav .header__title {
          padding-left: 16px;
          font-size: 14px;
          font-weight: 700;
          color: rgba(20, 23, 28, 0.85); }
        .header__xs .sidenav .mostpopular ul, .header__xs .sidenav .moreformudemy ul {
          padding-left: 16px; }
          .header__xs .sidenav .mostpopular ul li, .header__xs .sidenav .moreformudemy ul li {
            position: relative;
            padding: 5px 0;
            list-style: none; }
            .header__xs .sidenav .mostpopular ul li span, .header__xs .sidenav .moreformudemy ul li span {
              position: absolute;
              left: 90%; }
      .header__xs #main {
        transition: margin-left .5s;
        padding: 16px; } }
  @media screen and (max-width: 768px) and (max-height: 450px) {
    .header__xs .sidenav {
      padding-top: 15px; }
    .header__xs .sidenav a {
      font-size: 18px; } }

.footer {
  width: 78%; }
  @media (max-width: 768px) {
    .footer {
      display: none;
      overflow-x: hidden; } }
  .footer__link ul {
    list-style-type: none; }
    .footer__link ul li {
      padding: 2px 0;
      margin: 5px 0;
      font-size: 14px;
      font-weight: 300; }
      .footer__link ul li a {
        color: #007791; }
      .footer__link ul li .highlight {
        font-weight: 600; }
  @media (max-width: 768px) {
    .footer .footer_xs {
      display: none;
      overflow-x: hidden; } }
  .footer .footer__link .btn-group {
    padding: 10px 0;
    width: 160px; }
    @media (max-width: 768px) {
      .footer .footer__link .btn-group {
        display: none;
        overflow-x: hidden; } }
    .footer .footer__link .btn-group :focus {
      box-shadow: none; }
    .footer .footer__link .btn-group .dropdown-toggle {
      border: 1px solid #686f7a;
      font-size: 12px;
      border-radius: 2%;
      color: #686f7a; }
      .footer .footer__link .btn-group .dropdown-toggle::after {
        margin-left: 55px; }
      .footer .footer__link .btn-group .dropdown-toggle span {
        margin-left: 10px; }
      .footer .footer__link .btn-group .dropdown-toggle:hover {
        color: #29303b;
        border-color: #29303b; }
      .footer .footer__link .btn-group .dropdown-toggle:focus {
        background-color: #f2f3f5; }
    .footer .footer__link .btn-group .dropdown-menu {
      box-shadow: 0px 0px 10px -2px #a1a7b3; }
      .footer .footer__link .btn-group .dropdown-menu ul {
        border-color: #f2f3f5; }
        .footer .footer__link .btn-group .dropdown-menu ul li {
          padding-left: 10px; }

.cover {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative; }
  @media (max-width: 768px) {
    .cover {
      height: 460px;
      background: none;
      overflow-x: hidden; } }
  .cover .cover__xs {
    display: none; }
    @media (max-width: 768px) {
      .cover .cover__xs {
        display: block;
        height: 400px !important;
        background: none;
        overflow-x: hidden; }
        .cover .cover__xs .img-fluid {
          z-index: 0 !important;
          height: 170px;
          width: 100%; }
        .cover .cover__xs p {
          margin: 10px 30px; }
        .cover .cover__xs h1 {
          margin: 0 30px;
          margin-top: 10px;
          font-size: 30px !important;
          font-weight: 700; }
        .cover .cover__xs .input--group {
          margin: 0 auto;
          width: 85%;
          height: 50px; }
          .cover .cover__xs .input--group .form-control {
            height: 50px;
            border-radius: 0%;
            border-right: none; }
          .cover .cover__xs .input--group .input-group-text {
            background-color: #fff;
            border-radius: 0%;
            border-left: none; } }
  .cover__detail {
    position: absolute;
    top: 32%;
    left: 10%;
    color: white;
    width: 470px; }
    @media (max-width: 768px) {
      .cover__detail {
        display: none;
        height: 410px !important;
        overflow-x: hidden; } }
    .cover__detail h1 {
      font-size: 42px;
      letter-spacing: 1px; }
    .cover__detail p {
      font-size: 20px;
      font-weight: 200; }
    .cover__detail .form-control {
      font-size: 20px;
      font-weight: 200;
      background-color: white;
      border: none;
      height: 55px;
      border-radius: 0%;
      width: 420px;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      -ms-border-radius: 0%;
      -o-border-radius: 0%; }
    .cover__detail .input--group .input-group-prepend .input-group-text {
      border-radius: 0%;
      background-color: white;
      border: none;
      outline: none;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      -ms-border-radius: 0%;
      -o-border-radius: 0%; }
      .cover__detail .input--group .input-group-prepend .input-group-text i {
        color: #ec5252; }
      .cover__detail .input--group .input-group-prepend .input-group-text:hover {
        background-color: #ec5252; }
        .cover__detail .input--group .input-group-prepend .input-group-text:hover i {
          color: white; }
    @media (max-width: 768px) {
      .cover__detail {
        padding-top: 10px;
        position: relative;
        height: 400px;
        top: 100%;
        left: 5%;
        color: black;
        z-index: 100;
        overflow-x: hidden; }
        .cover__detail h1 {
          font-size: 30px !important;
          font-size: 700 !important;
          letter-spacing: 0; }
        .cover__detail p {
          font-size: 16px;
          font-weight: 400; }
        .cover__detail .form-control {
          border: 1px solid #686f7a;
          border-right: none;
          width: 100%; }
        .cover__detail .input--group .input-group-prepend .input-group-text {
          border: 1px solid #686f7a;
          border-left: none; }
          .cover__detail .input--group .input-group-prepend .input-group-text i {
            color: #686f7a; }
          .cover__detail .input--group .input-group-prepend .input-group-text:hover {
            background-color: #fff; }
            .cover__detail .input--group .input-group-prepend .input-group-text:hover i {
              color: #686f7a; } }

.courses {
  overflow-y: hidden;
  width: 80%;
  color: #29303b;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px; }
  .courses .courses__xs {
    display: none !important; }
    @media (max-width: 768px) {
      .courses .courses__xs {
        display: block !important;
        overflow-x: hidden; } }
    .courses .courses__xs .star-rating {
      font-size: 13px; }
      .courses .courses__xs .star-rating .checked {
        color: #F4C150; }
      .courses .courses__xs .star-rating :last-child {
        font-size: 11px;
        font-weight: 200; }
    .courses .courses__xs .card {
      width: 95%;
      margin: 0 auto;
      border-left: none;
      border-right: none;
      border-bottom: none; }
      .courses .courses__xs .card .card-header {
        background-color: #fff;
        position: relative; }
        .courses .courses__xs .card .card-header .btn-link-courses {
          padding-left: 0;
          font-size: 18px;
          font-weight: 700; }
          .courses .courses__xs .card .card-header .btn-link-courses span {
            position: absolute;
            left: 90%;
            bottom: 27%; }
        .courses .courses__xs .card .card-header :focus span {
          transform: rotate(180deg); }
  @media (max-width: 768px) {
    .courses {
      width: 100% !important;
      z-index: 0 !important;
      overflow-x: hidden; }
      .courses .courses__category {
        display: none; } }
  .courses .course_item1 {
    width: 100% !important;
    border-bottom: 1px solid #505763; }
  .courses .courses__intro {
    width: 115%;
    height: 390px;
    transform: translateX(-13.5%);
    background-color: #F7F8FA;
    padding-left: 30px; }
    @media (max-width: 768px) {
      .courses .courses__intro {
        display: none;
        overflow-x: hidden; } }
    .courses .courses__intro p:first-child {
      font-weight: 600; }
      @media (max-width: 768px) {
        .courses .courses__intro p:first-child {
          display: none;
          overflow-x: hidden; } }
    .courses .courses__intro p {
      font-size: 18px;
      text-align: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  @media (max-width: 768px) {
    .courses .nav {
      width: 100% !important;
      display: block;
      overflow-x: hidden; }
      .courses .nav .nav-item {
        position: relative;
        margin: 0 20px;
        border-top: 1px solid #f2f3f5;
        border-bottom: 1px solid #f2f3f5; }
        .courses .nav .nav-item .nav-link-icon {
          transform: rotate(0deg) !important;
          position: absolute;
          top: 40%;
          left: 90%; }
        .courses .nav .nav-item .nav-link {
          border-left: none;
          border-right: none;
          font-size: 19px;
          color: rgba(20, 23, 28, 0.85) !important;
          font-weight: 700; } }
  .courses .nav .nav-tabs {
    margin-left: 17px;
    width: 101.5%;
    margin-bottom: 20px; }
    .courses .nav .nav-tabs .nav-item .nav-link-icon {
      display: none; }
    .courses .nav .nav-tabs .nav-item .nav-link {
      text-align: center;
      color: #29303b;
      border-color: transparent;
      border-bottom-color: #dee2e6;
      position: relative; }
      .courses .nav .nav-tabs .nav-item .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        height: 4px;
        background-color: #007791; }
      .courses .nav .nav-tabs .nav-item .nav-link.active::before {
        width: 100%; }
  @media (max-width: 768px) {
    .courses .owl-nav {
      display: none;
      overflow-x: hidden; } }
  .courses .owl-nav .owl-prev, .courses .owl-nav .owl-next, .courses .anotherCourses .carousel2 .owl-nav .owl-next, .anotherCourses .carousel2 .courses .owl-nav .owl-next, .courses .anotherCourses .carousel2_xs .owl-nav .owl-next, .anotherCourses .carousel2_xs .courses .owl-nav .owl-next, .courses .review .carousel3 .owl-nav .owl-next, .review .carousel3 .courses .owl-nav .owl-next, .courses .review .carousel_xs .owl-nav .owl-next, .review .carousel_xs .courses .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    background-color: white !important;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    position: absolute;
    top: 30%;
    right: 97%;
    border-radius: 50%;
    z-index: 3; }
    .courses .owl-nav .owl-prev span, .courses .owl-nav .owl-next span, .courses .anotherCourses .carousel2 .owl-nav .owl-next span, .anotherCourses .carousel2 .courses .owl-nav .owl-next span, .courses .anotherCourses .carousel2_xs .owl-nav .owl-next span, .anotherCourses .carousel2_xs .courses .owl-nav .owl-next span, .courses .review .carousel3 .owl-nav .owl-next span, .review .carousel3 .courses .owl-nav .owl-next span, .courses .review .carousel_xs .owl-nav .owl-next span, .review .carousel_xs .courses .owl-nav .owl-next span {
      line-height: 40px;
      font-size: 30px;
      color: #007791; }
    .courses .owl-nav .owl-prev::before, .courses .owl-nav .owl-next::before, .courses .anotherCourses .carousel2 .owl-nav .owl-next::before, .anotherCourses .carousel2 .courses .owl-nav .owl-next::before, .courses .anotherCourses .carousel2_xs .owl-nav .owl-next::before, .anotherCourses .carousel2_xs .courses .owl-nav .owl-next::before, .courses .review .carousel3 .owl-nav .owl-next::before, .review .carousel3 .courses .owl-nav .owl-next::before, .courses .review .carousel_xs .owl-nav .owl-next::before, .review .carousel_xs .courses .owl-nav .owl-next::before {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
  .courses .owl-nav .owl-next {
    right: 0%;
    left: 97%; }

.tab-content {
  width: 105%; }
  .tab-content .card .card-body {
    height: 205px; }
  .tab-content .card .star-rating {
    font-size: 13px; }
    .tab-content .card .star-rating .checked {
      color: #F4C150; }
    .tab-content .card .star-rating :last-child {
      font-size: 11px;
      font-weight: 200; }
  .tab-content .card .price {
    padding-top: 10px;
    position: relative;
    left: 110px;
    font-size: 18px; }
  .tab-content .card .card-body p:first-child {
    font-size: 16px;
    font-weight: 600; }
  .tab-content .card .card-body .card-text {
    font-size: 12px; }

.prosCourses {
  background-color: #f2f3f5;
  height: 260px; }
  .prosCourses .prosCourses__title_xs {
    display: none; }
  .prosCourses .row {
    flex-wrap: nowrap; }
    @media (max-width: 768px) {
      .prosCourses .row {
        display: block !important;
        overflow-x: hidden; } }
  @media (max-width: 768px) {
    .prosCourses {
      background-color: white;
      border: 1px solid #a1a7b3;
      margin: 0 25px;
      overflow-x: hidden; }
      .prosCourses .prosCourses__title_xs {
        padding: 15px 0;
        text-align: center;
        display: block;
        font-size: 30px;
        font-weight: 600; } }
  @media (max-width: 768px) {
    .prosCourses {
      height: 500px;
      overflow-x: hidden; } }
  @media (min-width: 768px) {
    .prosCourses {
      height: 380px; } }
  @media (max-width: 321px) {
    .prosCourses {
      height: 647px;
      overflow-x: hidden; } }
  .prosCourses__item {
    width: 160px;
    margin: 0 10px;
    background-color: #fff;
    transform: translateY(20%);
    border: 1px solid #f2f3f5; }
    @media (max-width: 768px) {
      .prosCourses__item {
        width: 100% !important;
        transform: translateY(0%);
        margin: 0px;
        padding: 0 !important;
        border: none;
        overflow-x: hidden; } }
    @media (max-width: 768px) {
      .prosCourses__item img {
        margin: 0 20px !important;
        overflow-x: hidden; } }
    .prosCourses__item p:first-child {
      font-size: 20px;
      font-weight: 600; }
      @media (max-width: 768px) {
        .prosCourses__item p:first-child {
          margin-bottom: 10px !important;
          overflow-x: hidden; } }
    .prosCourses__item p {
      font-size: 16px;
      font-weight: 300;
      color: #686f7a; }
      @media (max-width: 768px) {
        .prosCourses__item p {
          font-size: 14px;
          overflow-x: hidden; } }

.anotherCourses {
  width: 88%;
  color: #29303b;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px; }
  @media (max-width: 768px) {
    .anotherCourses {
      z-index: 0 !important;
      overflow-x: hidden; }
      .anotherCourses h1 {
        margin-top: 40px;
        font-size: 24px !important;
        font-weight: 600 !important; } }
  .anotherCourses h1 {
    font-size: 20px;
    font-weight: 200;
    padding-top: 5px; }
  @media (max-width: 768px) {
    .anotherCourses .carousel2, .anotherCourses .carousel2_xs {
      display: none !important;
      overflow-x: hidden; } }
  .anotherCourses .carousel2 .card .card-body, .anotherCourses .carousel2_xs .card .card-body {
    height: 205px; }
  .anotherCourses .carousel2 .card .star-rating, .anotherCourses .carousel2_xs .card .star-rating {
    font-size: 13px; }
    .anotherCourses .carousel2 .card .star-rating .checked, .anotherCourses .carousel2_xs .card .star-rating .checked {
      color: #F4C150; }
    .anotherCourses .carousel2 .card .star-rating :last-child, .anotherCourses .carousel2_xs .card .star-rating :last-child {
      font-size: 11px;
      font-weight: 200; }
  .anotherCourses .carousel2 .card .price, .anotherCourses .carousel2_xs .card .price {
    padding-top: 20px;
    position: relative;
    left: 120px;
    font-size: 18px; }
  .anotherCourses .carousel2 .card .card-body p:first-child, .anotherCourses .carousel2_xs .card .card-body p:first-child {
    font-size: 16px;
    font-weight: 600; }
  .anotherCourses .carousel2 .card .card-body .card-text, .anotherCourses .carousel2_xs .card .card-body .card-text {
    font-size: 12px; }
  @media (max-width: 768px) {
    .anotherCourses .carousel2 .owl-nav, .anotherCourses .carousel2_xs .owl-nav {
      display: none;
      overflow-x: hidden; } }
  .anotherCourses .carousel2 .owl-nav .owl-prev, .anotherCourses .carousel2_xs .owl-nav .owl-prev, .anotherCourses .carousel2 .owl-nav .owl-next, .anotherCourses .carousel2_xs .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    background-color: white !important;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    position: absolute;
    top: 32%;
    right: 98%;
    border-radius: 50%;
    z-index: 3; }
    .anotherCourses .carousel2 .owl-nav .owl-prev span, .anotherCourses .carousel2_xs .owl-nav .owl-prev span, .anotherCourses .carousel2 .owl-nav .owl-next span, .anotherCourses .carousel2_xs .owl-nav .owl-next span {
      line-height: 40px;
      font-size: 30px;
      color: #007791; }
    .anotherCourses .carousel2 .owl-nav .owl-prev::before, .anotherCourses .carousel2_xs .owl-nav .owl-prev::before, .anotherCourses .carousel2 .owl-nav .owl-next::before, .anotherCourses .carousel2_xs .owl-nav .owl-next::before {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
  .anotherCourses .carousel2 .owl-nav .owl-next, .anotherCourses .carousel2_xs .owl-nav .owl-next {
    right: 0%;
    left: 98%; }
  .anotherCourses .carousel2_xs {
    display: none; }
    @media (max-width: 768px) {
      .anotherCourses .carousel2_xs {
        display: block !important;
        overflow-x: hidden; }
        .anotherCourses .carousel2_xs .card {
          height: 100px;
          display: flex !important;
          flex-direction: row;
          margin-bottom: 10px;
          border: none; }
          .anotherCourses .carousel2_xs .card .card-img-top {
            padding-bottom: 140px !important; }
          .anotherCourses .carousel2_xs .card .card-body {
            padding: 0 !important; }
          .anotherCourses .carousel2_xs .card .card-title {
            font-size: 14px !important;
            margin-bottom: 0; }
          .anotherCourses .carousel2_xs .card .card-text {
            margin-bottom: 0; }
          .anotherCourses .carousel2_xs .card .price {
            padding-top: 0;
            left: 0;
            font-size: 14px;
            font-weight: 600; } }

.advertise {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
  color: #fff;
  padding-top: 14px;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding-left: 200px;
  margin-bottom: 35px; }
  .advertise .icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    padding-top: 6px;
    margin-right: 5px; }
  .advertise .advertise__detail h6 {
    font-weight: 700; }
  .advertise .advertise__detail p {
    font-weight: 200;
    font-size: 14px; }
  @media (max-width: 768px) {
    .advertise {
      display: none;
      overflow-x: hidden; } }

.banner {
  width: 100%; }
  @media (max-width: 768px) {
    .banner {
      height: 270px;
      overflow-x: hidden; } }
  .banner__topborder {
    background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
    height: 8px; }
    @media (max-width: 768px) {
      .banner__topborder {
        display: none;
        overflow-x: hidden; } }
  .banner__content {
    overflow-y: hidden !important;
    background-color: #29303b;
    color: #fff;
    height: 370px; }
    @media (max-width: 768px) {
      .banner__content {
        height: 270px !important;
        background-color: #003640;
        overflow-x: hidden; }
        .banner__content .btn--red {
          width: 98%;
          height: 47px;
          border-radius: 0%;
          background-color: #0f7c90; } }
    .banner__content .banner__logo__line1 i, .banner__content .banner__logo__line2 i, .banner__content .banner__logo__line3 i {
      font-size: 25px; }
      @media (max-width: 768px) {
        .banner__content .banner__logo__line1 i, .banner__content .banner__logo__line2 i, .banner__content .banner__logo__line3 i {
          display: none !important;
          overflow-x: hidden; } }
    @media (max-width: 768px) {
      .banner__content .banner__logo__line1, .banner__content .banner__logo__line2, .banner__content .banner__logo__line3 {
        padding-top: 0 !important;
        padding-bottom: 20px !important;
        overflow-x: hidden; } }
    .banner__content .banner__logo__line2 i {
      text-align: center;
      margin-top: 25px; }
      @media (max-width: 768px) {
        .banner__content .banner__logo__line2 i {
          display: none;
          overflow-x: hidden; } }
    .banner__content .banner__logo__line2 .fa-anchor {
      transform: translateX(-40%); }
    .banner__content .banner__logo__line2 .fa-galactic-republic {
      transform: translateX(20%); }
    .banner__content .banner__logo__line2 .banner__detail {
      text-align: center; }
      @media (max-width: 768px) {
        .banner__content .banner__logo__line2 .banner__detail {
          overflow-x: hidden; }
          .banner__content .banner__logo__line2 .banner__detail p:first-child {
            font-size: 30px !important;
            font-weight: 700; }
          .banner__content .banner__logo__line2 .banner__detail p:last-child {
            font-size: 14px !important; } }
      .banner__content .banner__logo__line2 .banner__detail p:first-child {
        font-size: 22px; }
      .banner__content .banner__logo__line2 .banner__detail p:nth-child(2) {
        font-size: 16px;
        font-weight: 200; }
    @media (max-width: 768px) {
      .banner__content .banner__logo__line3 {
        display: none;
        overflow-x: hidden; } }

.categories {
  transform: translateX(-5%); }
  .categories h1 {
    font-size: 24px;
    font-weight: 600;
    transform: translateX(18%); }
    @media (max-width: 768px) {
      .categories h1 {
        transform: translateX(8%);
        overflow-x: hidden; } }
  @media (max-width: 768px) {
    .categories .categories__content {
      display: none;
      overflow-x: hidden; } }
  .categories .categories__content .panel {
    margin: 0 15px;
    height: 60px;
    border: 1px solid #cacbcc;
    transition: all .2s; }
    .categories .categories__content .panel i {
      font-size: 30px;
      margin: 0 5px;
      padding-top: 16px; }
    .categories .categories__content .panel span {
      font-weight: 200;
      font-size: 15px; }
  .categories .categories__content .panel:hover {
    box-shadow: 0px 0px 10px -2px #a1a7b3; }
  .categories .categories__content_xs {
    display: none; }
    @media (min-width: 768px) {
      .categories .categories__content_xs {
        transform: translateX(20%); } }
    @media (max-width: 321px) {
      .categories .categories__content_xs {
        overflow-x: hidden; }
        .categories .categories__content_xs .row {
          transform: translateX(12%) !important; }
          .categories .categories__content_xs .row .panel_xs {
            margin: 0 !important; }
            .categories .categories__content_xs .row .panel_xs p {
              font-size: 14px !important;
              padding: 0 2px !important; } }
    @media (max-width: 768px) {
      .categories .categories__content_xs {
        overflow-y: hidden;
        margin-top: 10px;
        display: inline-block;
        width: 100% !important;
        overflow-x: hidden; }
        .categories .categories__content_xs .row {
          display: flex !important;
          flex-wrap: wrap !important;
          transform: translateX(17%);
          margin-right: .8rem;
          display: inline-block;
          scroll-snap-align: start; }
          .categories .categories__content_xs .row .panel_xs {
            margin: 0 5px;
            border: 1px solid #dcdacb;
            color: #0f7c90;
            border-radius: 9999px; }
            .categories .categories__content_xs .row .panel_xs p {
              font-size: 16px !important;
              font-weight: 600;
              padding: 0 10px;
              transform: translateY(30%); } }

.review {
  background-color: #f2f3f5; }
  @media (max-width: 768px) {
    .review {
      z-index: 0 !important;
      overflow-y: hidden;
      background-color: #fff;
      height: 280px;
      overflow-x: hidden; }
      .review h1 {
        transform: translateX(0%) !important; } }
  .review h1 {
    font-size: 24px;
    font-weight: 600;
    transform: translateX(12%);
    padding-bottom: 10px; }
  .review .carousel3, .review .carousel_xs {
    position: relative;
    width: 78%; }
    @media (max-width: 768px) {
      .review .carousel3, .review .carousel_xs {
        z-index: 0 !important;
        display: none;
        overflow-x: hidden; } }
    .review .carousel3 .row, .review .carousel_xs .row {
      flex-wrap: nowrap; }
    .review .carousel3 .item, .review .carousel_xs .item {
      height: 250px; }
      .review .carousel3 .item .block, .review .carousel_xs .item .block {
        box-shadow: 0px 0px 5px -2px #cacbcc;
        margin-left: 10px;
        width: 320px;
        background-color: #fff;
        border: 1px solid #f2f3f5; }
        .review .carousel3 .item .block .review__title, .review .carousel_xs .item .block .review__title {
          padding: 10px 5px; }
          .review .carousel3 .item .block .review__title .review__noimage, .review .carousel_xs .item .block .review__title .review__noimage {
            color: white;
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-color: #686f7a;
            border-radius: 50%; }
            .review .carousel3 .item .block .review__title .review__noimage p, .review .carousel_xs .item .block .review__title .review__noimage p {
              transform: translateX(40%); }
          .review .carousel3 .item .block .review__title img, .review .carousel_xs .item .block .review__title img {
            width: 60px !important;
            height: 60px;
            border-radius: 50%; }
          .review .carousel3 .item .block .review__title span, .review .carousel_xs .item .block .review__title span {
            line-height: 60px;
            margin-left: 20px;
            font-size: 16px;
            font-weight: 600; }
        .review .carousel3 .item .block .review__detail, .review .carousel_xs .item .block .review__detail {
          width: 330px;
          font-size: 17px;
          font-weight: 300;
          text-align: left; }
    @media (max-width: 768px) {
      .review .carousel3 .owl-nav, .review .carousel_xs .owl-nav {
        display: none;
        overflow-x: visible;
        overflow-x: hidden; } }
    .review .carousel3 .owl-nav .owl-prev, .review .carousel_xs .owl-nav .owl-prev, .review .carousel3 .owl-nav .owl-next, .review .carousel_xs .owl-nav .owl-next {
      width: 40px;
      height: 40px;
      background-color: white !important;
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
      position: absolute;
      top: 44%;
      right: 98.5%;
      border-radius: 50%;
      z-index: 3; }
      .review .carousel3 .owl-nav .owl-prev span, .review .carousel_xs .owl-nav .owl-prev span, .review .carousel3 .owl-nav .owl-next span, .review .carousel_xs .owl-nav .owl-next span {
        line-height: 40px;
        font-size: 30px;
        color: #007791; }
      .review .carousel3 .owl-nav .owl-prev::before, .review .carousel_xs .owl-nav .owl-prev::before, .review .carousel3 .owl-nav .owl-next::before, .review .carousel_xs .owl-nav .owl-next::before {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
    .review .carousel3 .owl-nav .owl-next, .review .carousel_xs .owl-nav .owl-next {
      right: 0%;
      left: 98%; }
  .review .carousel_xs {
    display: none; }
    @media (max-width: 768px) {
      .review .carousel_xs {
        padding-right: 10px;
        width: 100% !important;
        overflow-x: scroll;
        display: block;
        overflow-x: hidden; }
        .review .carousel_xs .review__detail {
          font-size: 18px;
          width: 250px;
          font-weight: 300; }
        .review .carousel_xs .review__title {
          font-size: 13px;
          font-weight: 600; } }

.partner {
  width: 100%;
  height: 150px;
  background-color: #f2f3f5; }
  @media (max-width: 768px) {
    .partner {
      height: auto;
      background-color: white;
      overflow-x: hidden; }
      .partner p {
        font-size: 18px !important;
        font-weight: 600 !important; } }
  .partner p {
    text-align: center;
    color: #686f7a;
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 10px; }
  .partner__detail {
    text-align: center; }
    @media (max-width: 768px) {
      .partner__detail {
        display: flex !important;
        flex-wrap: wrap;
        overflow-x: hidden; }
        .partner__detail .icon {
          padding: 10px 0; } }

.teaching {
  overflow-y: hidden;
  height: 180px;
  background-color: #f2f3f5; }
  @media (max-width: 768px) {
    .teaching {
      padding: 10px 0 !important;
      height: 410px;
      background-color: #fff;
      overflow-x: hidden; } }
  @media (max-width: 768px) and (min-width: 768px) {
    .teaching {
      height: 210px; } }
  @media (max-width: 768px) {
      .teaching .teaching__detail {
        color: white;
        width: 100% !important; }
        .teaching .teaching__detail .btn--red {
          width: 70%;
          height: 50px;
          line-height: 35px;
          border-radius: 0%;
          border-color: #fff;
          background-color: transparent;
          margin-left: 0; }
        .teaching .teaching__detail .t_content1 {
          padding: 10px 0 !important;
          background-color: #6e1a52; }
          .teaching .teaching__detail .t_content1 p:first-child {
            font-size: 30px !important;
            font-weight: 600 !important; }
          .teaching .teaching__detail .t_content1 p:nth-child(2) {
            position: relative;
            left: 13% !important;
            text-align: center; } }
        @media (max-width: 768px) and (max-width: 321px) {
          .teaching .teaching__detail .t_content1 p:nth-child(2) {
            left: 3% !important;
            overflow-x: hidden; } }
  @media (max-width: 768px) {
        .teaching .teaching__detail .t_content2 {
          padding: 10px 0 !important;
          background-color: #003640; }
          .teaching .teaching__detail .t_content2 p:first-child {
            font-size: 30px !important;
            font-weight: 600 !important; }
          .teaching .teaching__detail .t_content2 p:nth-child(2) {
            position: relative;
            left: 13% !important;
            text-align: center; } }
        @media (max-width: 768px) and (max-width: 321px) {
          .teaching .teaching__detail .t_content2 p:nth-child(2) {
            left: 3% !important;
            overflow-x: hidden; } }
  @media (max-width: 768px) {
        .teaching .teaching__detail .teaching__line {
          border-right: none !important; } }
  .teaching .teaching__detail {
    width: 85%; }
    .teaching .teaching__detail .teaching__content {
      text-align: center;
      padding-bottom: 10px; }
      .teaching .teaching__detail .teaching__content p:first-child {
        font-size: 21px;
        font-weight: 400; }
      .teaching .teaching__detail .teaching__content p:nth-child(2) {
        width: 300px;
        position: relative;
        left: 30%;
        font-size: 16px;
        font-weight: 300; }
    .teaching .teaching__detail .teaching__line {
      border-right: 1px solid #cacbcc; }

.term {
  height: 120px; }
  .term .term__line, .term .term__line2 {
    width: 100% !important;
    background-color: #cacbcc;
    height: 1px; }
  .term .term__line2 {
    background-color: #ec5252;
    height: 10px; }

.term_xs_language {
  display: none; }
  @media (max-width: 768px) {
    .term_xs_language {
      display: block;
      padding: 20px;
      margin-top: 20px;
      overflow-x: hidden; } }
  .term_xs_language .btn-group {
    padding: 10px 0;
    width: 160px; }
    .term_xs_language .btn-group :focus {
      box-shadow: none; }
    .term_xs_language .btn-group .dropdown-toggle {
      border: 1px solid #686f7a;
      font-size: 12px;
      border-radius: 2%;
      color: #686f7a; }
      .term_xs_language .btn-group .dropdown-toggle::after {
        margin-left: 55px; }
      .term_xs_language .btn-group .dropdown-toggle span {
        margin-left: 10px; }
      .term_xs_language .btn-group .dropdown-toggle:hover {
        color: #29303b;
        border-color: #29303b; }
      .term_xs_language .btn-group .dropdown-toggle:focus {
        background-color: #f2f3f5; }
    .term_xs_language .btn-group .dropdown-menu {
      box-shadow: 0px 0px 10px -2px #a1a7b3; }
      .term_xs_language .btn-group .dropdown-menu ul {
        border-color: #f2f3f5; }
        .term_xs_language .btn-group .dropdown-menu ul li {
          list-style: none;
          padding-left: 10px; }

.term__detail {
  display: none; }
  @media (max-width: 768px) {
    .term__detail {
      display: inline-block;
      margin: 15px 0;
      flex-direction: column;
      overflow-x: hidden; }
      .term__detail li {
        list-style: none;
        margin-left: 20px; }
        .term__detail li a {
          font-size: 13px;
          font-weight: 300;
          color: #007791;
          text-decoration: none; } }

.term__content {
  width: 89%; }
  @media (max-width: 768px) {
    .term__content {
      padding: 10px !important;
      margin-left: 5px !important;
      overflow-x: hidden; } }
  .term__content img {
    width: 120px;
    padding-right: 10px; }
  .term__content .term__item1 {
    font-size: 13px;
    font-weight: 200; }
    @media (max-width: 768px) {
      .term__content .term__item1 {
        display: flex;
        flex-direction: column;
        overflow-x: hidden; } }
  .term__content .term__item2 {
    text-align: right;
    font-size: 13px;
    font-weight: 200; }
    @media (max-width: 768px) {
      .term__content .term__item2 {
        display: none;
        overflow-x: hidden; } }
    .term__content .term__item2 a {
      color: #007791;
      margin: 0 5px; }

/*# sourceMappingURL=main.css.map */
